body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 70px;
    background-color: white;
    border-style: hidden hidden solid hidden;
    border-color: gray;
}

nav {
    margin-left: 20%;
}

.namelogo {
    width: 18%;
    background-color: #37c570;
    height: 20px;
    text-align: center;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 23;
    float: left;
}

.about {
    float: left;
    padding: 1px;
    color: #908a8a;
    margin-top:22px;
    margin-left: 36%;
    border-width: 1px;
    border-style: hidden solid hidden hidden;
    border-color: darkgray;
    width:6.5%;
    text-align: center;
}

.portfolio {
    float: left;
    padding: 1px;
    color: #908a8a;
    margin-top:22px;
    border-width: 1px;
    border-style: hidden solid hidden hidden;
    border-color: darkgray;
    width:6.5%;
    text-align: center;
}

.contact {
    float: left;
    padding: 1px;
    color: #908a8a;
    margin-top:22px;
    width: 6.5%;
    text-align: center;
    
}

#container {
    margin-top: 10px;
    width: 960px;
    background-color: white;
    position: absolute;
    margin-left:20%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #37c570;
    font-family: serif;
    padding: 15px;
    border-bottom: 2px;
    border-bottom-color: lightgray;
    border-style: hidden hidden solid hidden;
    margin-left: 20px;
    margin-right: 25px;
    
}

.mypic {
    margin-left: 20px;
    padding: 0 15px 0 0;
    float: left;

}

.contectaboutme {
    margin-left: 20px;
    margin-right: 25px;
    color: #908a8a;
    line-height: 1.8;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: gray;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    resize: none;
    color: gray;
    margin-top: 7px;
    font-family: sans-serif;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    color:gray;
}

.cat {
    width: 25%;
    height: 20%;
    float: left;
    margin-left: 10px;
    padding: 5px;
}

.shakira {
    width: 25%;
    height: 20%;
    float: left;
    margin-left: 4%;
    padding: 5px;
}

.dog {
    width: 25%;
    height: 20%;
    float: left;
    clear: both;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
}

.picassocat {
    width: 25%;
    height: 20%;
    float: left;
    margin-left: 3.2%;
    padding: 10px;
    margin-top: 10px;
}

.almost {
    width: 25%;
    height: 20%;
    float: left;
    clear: both;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
}

.textoverpic {
    position: relative;
    font-family: Arial;
}

.textblock {
    position: absolute;
    background-color: #45a049;
    color: white;
    padding:5px;
    width: 23%;
    margin-top: 9%;
    margin-left: 14px;
}


footer {
    line-height: 6.3;
    text-align: center;
    color: lightgray;
    height: 70px;
    background-color: gray;
    border-style: solid hidden hidden hidden;
    border-color: #87c270;
    border-width: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

